---
layout: default
---
<h1>Blogs</h1>
<ul>
  {% for section in site.data.blogs %}
  <li>
    <h4>{{ section.title }}</h4>
    <ul style="list-style-type: square;">
      {% for topic in section.topics %}
        {% if topic.type == "series" %}
        <li>
          <span style="font-weight: 600;">{{ topic.title }}</span>
          <ol style="list-style-type: decimal; margin-top: 0.25em;">
            {% for post in topic.posts %}
            <li>
              <a href="{{ section.slug }}/{{ post.slug }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ol>
        </li>
        {% else %}
        <li>
          <a href="{{ section.slug }}/{{ topic.slug }}">{{ topic.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
